{% extends 'visitor/home.html.twig' %}

{% block title %}Hello Admin{% endblock %}


{% block body %}

    <br />
    <div class="container">
        <h1 class="text-center">
            <p class="text-warning">Welcome to Computer Shop, Admin</p>
        </h1>
    </div>
{% endblock %}